<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.customer.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <display-name>TEST2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StockInsert</display-name>
    <servlet-name>StockInsert</servlet-name>
    <servlet-class>com.customer.StockInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockInsert</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStockServlet</display-name>
    <servlet-name>UpdateStockServlet</servlet-name>
    <servlet-class>com.customer.UpdateStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStockServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockServlet</display-name>
    <servlet-name>StockServlet</servlet-name>
    <servlet-class>com.customer.StockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockServlet</servlet-name>
    <url-pattern>/StockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStockServlet</display-name>
    <servlet-name>DeleteStockServlet</servlet-name>
    <servlet-class>com.customer.DeleteStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStockServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SHOWWWServelet</display-name>
    <servlet-name>SHOWWWServelet</servlet-name>
    <servlet-class>com.customer.SHOWWWServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SHOWWWServelet</servlet-name>
    <url-pattern>/show</url-pattern>
  </servlet-mapping>
</web-app>